@font-face {
    font-family: 'brioche';
    src: url(/_fonts/brioche.ttf);
}
@font-face {
    font-family: 'dax';
    src: url(/_fonts/dax.ttf);
}
@font-face {
    font-family: 'violette';
    src: url(/_fonts/violette.otf);
}